.content-wrapper{
    margin: 80px;

}
.pageheader {
    padding: 15px;
    border-bottom: 1px solid #dce0e6;
    border-top: 1px solid #eee;
    background: #F6F8F8;
    position: relative;
    text-align: center;
  }
  .pageheader h2 {
    font-weight: 300;
    margin: 0;
  }